:root {
  --fonte: 'Montserrat', 'sans-serif';
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #e2e2e2;

}


body {
  font-family: var(--fonte);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
